---
import Layout from '../layouts/layout.astro';
import { Image } from 'astro:assets';

import iconCart from '../images/icon-cart.svg';
import productDesktop from '../images/image-product-desktop.jpg';
import productMobile from '../images/image-product-mobile.jpg';
---

<Layout>
    <main>
        <section id="desktop" class="imageSection">
			<Image id="img" src={productDesktop} alt="product image" />
		</section>
		<section id="mobile" class="imageSection">
			<Image id="img" src={productMobile} alt="product image" />
		</section>
        <section class="textSection">
            <p class="category sep">PERFUME</p>
            <h1 class="sep">Gabrielle Essence Eau De Parfum</h1>
            <p class="description sep">
				A floral, solar and voluptuous interpretation composed by Olivier Polge,
                Perfumer-Creator for the House of CHANEL.
			</p>
			<p class="pricing sep">
				<span class="price1">$149.99</span>
				<span class="price2">$169.99</span>
			</p>
			<br />
			<button class="sep">
				<Image src={iconCart} alt="cart icon" />
				<span>Add to Cart</span>
			</button>
        </section>
    </main>
</Layout>

<style lang="scss">
	main {
		min-width: 42rem;
		min-height: 32rem;
		max-width: 42rem;
		max-height: 32rem;
		background-color: var(--White);
		display: flex;
		border-radius: 1rem;

		#desktop {
			display: block;
		}

		#mobile {
			display: none;
		}

		@media screen and (max-width: 992px) and (orientation: portrait) {
			flex-direction: column;
			min-width: 90vw;
			min-height: 90vh;
			width: 90vw;
			height: 90vh;

			#desktop {
				display: none;
			}

			#mobile {
				display: block;
			}
		}

		.sep {
			margin-top : .65rem;
			margin-bottom: .65rem;
		}

		.imageSection {
			width : 50%;

			@media screen and (max-width: 992px) and (orientation: portrait) {
				width : 100%;
				height : 34%;
			}

			#img {
				width : 100%;
				height : 100%;
				object-fit: cover;
			}
		}

		.textSection {
			width : 50%;

			display: flex;
			flex-direction: column;
			justify-content: center;
			padding-left: 2rem;

			@media screen and (max-width: 992px) and (orientation: portrait) {
				width : 100%;
				height: 64%;
			}

			.category {
				font-family: 'Montserrat', sans-serif;
				font-weight: 600;
				color: var(--Dark-grayish-blue);
				letter-spacing: .4rem;
				max-width: 85%;
				font-size: .8rem;
			}

			h1 {
				font-family: 'Fraunces', sans-serif;
				font-weight: 700;
				max-width: 85%;
				font-size: 2rem;
			}

			.description {
				font-family: 'Outfit', sans-serif;
				color: var(--Dark-grayish-blue);
				max-width: 85%;
				line-height: 1.5rem;
			}

			button {
				width : calc(100% - 2rem);
				background-color: var(--Dark-cyan);
				color : var(--White);
				font-family: 'Outfit', sans-serif;
				border-radius: .5rem;
				padding : 1rem;
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 1rem;
				cursor: pointer;
				border: none;

				transition: background-color 250ms;
				will-change: background-color;
			}

			button:hover {
				background-color: var(--Very-dark-blue);
			}

			.pricing {
				font-family: 'Fraunces', sans-serif;
				display: flex;
				align-items: center;

				.price1 {
					color: var(--Dark-cyan);
					font-size : 2rem;
					font-weight: 700;
				}

				.price2 {
					color: var(--Dark-grayish-blue);
					text-decoration: line-through;
					margin-left: 1rem;
					font-size : 1.2rem;
					font-weight: 600;
				}
			}
		}
	}
</style>

