---
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Product Preview</title>
    <meta name="author" content="Krystian Zieja" />
    <meta name="description" content="Simple component made from Frontend Mentor" />
    <meta name="keywords" content="product, card, preview" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,300;9..144,400;9..144,500&family=Montserrat:wght@400;500&family=Outfit:wght@100;300;400;500&family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <slot />
</body>
</html>
